body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #111;
    padding: 40px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
    border: 1.5px solid rgb(180, 250, 94);
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    color: rgb(220, 255, 66);
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 10px;
    outline: none;
    background: #000;
    border: 1.5px solid rgb(223, 242, 5);
    color: white;
}

input::placeholder {
    color: rgb(190, 190, 190);
}

button {
    width: 100%;
    padding: 12px;
    background: rgb(143, 250, 4);
    border: none;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: rgb(108, 197, 5);
}

.error {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    color: rgb(9, 248, 88);
    display: none;
}